{% trans_default_domain 'layout' %}
{% extends 'base.html.twig' %}

{% block title %}
    {% if title is defined and title is not empty %}
        {{ title }} -
    {% endif %}
    {{ app_organization }}
{%- endblock %}

{% block body %}
    <div id="wrapper" class="animate">
        {% include 'layout/navbar_partial.html.twig' %}
        {% block container %}
        <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-12 ml-sm-auto pt-3 px-4">
                {% include 'layout/flash_partial.html.twig' %}
                {% block content %}{% endblock %}
            </main>
        </div>
        {% endblock %}
    </div>
</div>

<div class="container">
</div>

<footer class="footer no-print" role="contentinfo">
    <div class="container">
        {% block footer %}
            <p class="text-muted">
                &copy; 2020{% if 'now'|date('Y')>2020 %}-{{ 'now'|date('Y') }}{% endif %}, Luis Ramón López López
            </p>
        {% endblock %}
    </div>
</footer>
{% endblock %}
