{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% trans_default_domain 'tag' %}

{% block content %}
    <h2>{{ 'title.delete'|trans }}</h2>
    <form method="post">
        <input type="hidden" name="confirm" value="ok">
        <div class="alert alert-warning">{{ 'text.delete_warning'|trans({'%tag%': tag.name})|nl2br }}</div>
        {{ m.link_button(path('tag_form', {'id': tag.id}), 'arrow-left', 'btn-info', 'button.back_to_form'|trans) }}
        {{ m.submit_button('submit', 'trash', 'btn-danger', 'button.delete_confirm'|trans) }}
    </form>
{% endblock %}
